* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #29416d;
}

/* Media Queries */
/* =========================================== */
@media only screen and (min-width: 320px) {
    .contact-container img {
        height: 24px;
        margin: 0 5px;
    }
}


@media only screen and (min-width: 480px) {
    .contact-container img {
        height: 36px;
    }
}

@media only screen and (min-width: 768px) {
    .contact-container img {
        height: 48px;
    }
}

@media (max-width: 600px) {
    .topNav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navToggleButton {
        display: flex;
    }

    .navLinks {
        display: none;
        width: 100%;
    }

    .navLinks.active {
        display: flex;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks ul li {
        text-align: center;
    }

    .navLinks ul li a {
        padding: 1rem;
    }
}

/* Top Navigation Menu */
/* =========================================== */
.topNav {
    display: flex;
    background-color: #222;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 2px #0b111d;
}

.siteBrand {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-left: .75rem;
}

.siteBrand img {
    height: 48px;
    border: 2px dashed #fff;
    border-radius: 50%;
}

.navLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navLinks li {
    list-style-type: none;
}

.navLinks li a {
    text-decoration: none;
    padding: 1.25rem;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.navLinks a:hover {
    background-color: #444;
}

.navToggleButton {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.hamburger {
    height: 3px;
    width: 100%;
    background-color: #fff;
}


/* Content styles */
/* =========================================== */
.titleBox {
    width: 25%;
    padding: 1.5rem;
    margin: 50px auto;
    background-color: #141527;
    border: 2px solid #fff;
    border-radius: .75rem;
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
    text-align: center;
    box-shadow: 4px 8px 8px #0b111d;
}

/* Footer Contact Menu */
/* =========================================== */
.contact-container {
    background: #141527;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.contact-content {
    color: #F1F1F1;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
}

.contact-container img {
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.contact-container img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.01);
    -webkit-transform: scale(1.00);
}